@model List<TechnicalServices.Memberships.MembershipApplication>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Status
            </th>
            <th>
                Membership Type
            </th>
            <th>
                Details
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model is null || !Model.Any())
        {
            <tr>
                <td colspan="5">
                    <h3>There are no records to display for the selected time period</h3>
                </td>
            </tr>
        }
        else
        {
            @foreach (var membershipApplication in Model)
            {
                <tr>
                    <td>
                        @membershipApplication.ProspectiveMemberContactInfo.FirstName
                    </td>
                    <td>
                        @membershipApplication.ProspectiveMemberContactInfo.LastName
                    </td>
                    <td>
                        @membershipApplication.ApplicationStatus
                    </td>
                    <td>
                        @membershipApplication.MembershipType
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-info">Details</button>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
