@page
@model CBS.MaxStandingTeeTimeRequestModel
@{
    ViewData["Title"] = "MaxStandingTeeTimeRequest";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3>Only one active Standing Tee Time Request per shareholder. Please cancel your existing request before creating a new one</h3>
<a class="btn btn-outline-info" href="/Manage/ManageStandingTeeTimeRequests">View Existing STTR</a>

